*
######################
# srpa | Simple RPA  #
######################

!.gitignore
!README.md
!main.py
!package.bat

!modules/
!modules/*
!modules/**

!sample/
!sample/*
!sample/**

# Ignore
modules/__pycache__
__pycache__/
build/
dist/